<%- layout('layout/boilerplate')%>
<section class="container-fluid p-5">
  <div class="row gx-5 px-5 mb-3">
    <div class="col">
        <img class="img-fluid"
        src="https://images.unsplash.com/photo-1597662942557-4087865bf476"
        alt="<%= pet.breed %>">
    </div>

      <!-- buttons -->
    <div class="col d-flex flex-column justify-content-between">
      <h1><%= pet.name %></h1>
      <ul>
        <li>Breed: <%=pet.breed%></li>
        <li>Age: <%= pet.age %></li>
        <li>Price: <%= pet.price %></li>
        <li>Category: <%= pet.category %></li>
      </ul>

      <div class="d-flex justify-content-between">
          <a class="btn custom-button" href="/<%=pet._id%>/edit">
            Update
          </a>
        
        <form class="" action="/<%=pet._id%>?_method=DELETE" method="post">
          <button class="btn custom-button">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a href="/">Back to Home Page</a>
  </div> 

</section>