<%- layout('layout/boilerplate')%>
<section class="container-fluid">
  <div class="row p-5">
    <div class="row col-8 offset-2 gx-3 mb-3">
      <div class="col">
        <img class="img-fluid"
        src="<%= pet.image %>"
        alt="<%= pet.breed %>">
      </div>

      <!-- buttons -->
      <div class="col d-flex flex-column justify-content-between white-background p-3">
      <h1><%= pet.name %></h1>
      <ul>
        <li>Breed: <%=pet.breed%></li>
        <li>Age: <%= pet.age %></li>
        <li>Price: <%= pet.price %></li>
        <li>Category: <%= pet.category %></li>
      </ul>

      <div class="d-flex justify-content-between">
          <a class="btn main-button" href="/<%=pet._id%>/edit">
            Update
          </a>
        
        <form class="" action="/<%=pet._id%>?_method=DELETE" method="post">
          <button class="btn main-button">Delete</button>
        </form>
      </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <a href="/">Back to Home Page</a>
  </div> 

</section>