<%- layout('layout/boilerplate')%>
<section class="row py-3">
  <div class="col-6 offset-3 white-background form-container px-5 py-3">
    <h1>Update Pet Information</h1>

      <form class="mb-3 validated-form" novalidate action="/<%=pet._id%>?_method=PUT" method="POST">
        <div class="mb-3">
          <label class="form-label" for="name">Name:</label>
          <input class="form-control" type="text" name="name" id="name"
            value="<%=pet.name%>" placeholder="Pet's Name" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="image">Image:</label>
          <input class="form-control" type="url" name="image" 
          id="image" value="<%=pet.image%>">
        </div>

        <div class="mb-3">
          <label class="form-label" for="breed">Breed:</label>
          <input class="form-control" type="text" name="breed" id="breed" value="<%=pet.breed%>" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="price">Price:</label>
          <input class="form-control" type="number" name="price" id="price" value="<%=pet.price%>" required>
        </div>
        
        <div class="mb-3">
          <label class="form-label" for="age">Age:</label>
          <input class="form-control" type="number" name="age" id="age" value="<%=pet.age%>" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="category">Select Category</label>
          <select class="form-select" name="category" id="category" value="<%=pet.category%>" required>
            <% for(let category of categories){ %>
            <option value="<%=category%>" <%=pet.category === category ? 'selected': ''%>><%=category%></option>
            <% } %>
          </select>
        </div>

        <div class="text-end">
          <button class="btn main-button" type="submit">Submit</button>
        </div>

      </form>

      <div class="text-center">
        <a href="/">Cancel</a>
      </div>

  </div>
</section>
